<!DOCTYPE html>
<html>
<head>
    <title>Top Rated Books</title>
    <%- include('common/styles') %>
</head>
<body>
    <%- include('common/navbar') %>
    <div style="padding: 0 5%;">
        <h1>Top 10 Rated Books</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Average Score</th>
                    <th>Highest Review</th>
                    <th>Lowest Review</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(book => { %>
                    <tr>
                        <td><%= book.title %></td>
                        <td><%= book.author %></td>
                        <td><%= book.avgScore %></td>
                        <td><%= book.highestReview %></td>
                        <td><%= book.lowestReview %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
